.content {
	background: white;
	width: 100vw;
}

.slide-in {
	animation: slide-in-animation 1s linear 0s normal both;
	position: absolute;
	top: 0;
}
@keyframes slide-in-animation {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(0);
	}
}

.transitioning {
	pointer-events: none;
	user-select: none;
}
